* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    /* outline: 1px solid tomato; */
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    
}

:root{
    --border-grey : #dbdbdb;
    --background-inputs : ##fafafa;

}

body{
    display: flex;
    flex-direction: column;
    padding: 7% 23%;
    background-color: #fafafa;
}

.iphones-desktop-view{
    display: none;
}
.registro{
    border: 1px solid var(--border-grey);
    justify-self: center;
    display: flex;
    flex-direction: column;
    background-color: white;

}
.instagram{
    width: 170px;
    display: flex;
    align-self: center;
    margin: 30px auto;

}

.registro-inputs{
    display: flex;
    margin: 6px;
    padding: 8px;
    width: 77%;
    justify-self: center;
    align-self: center;
    margin: 6px auto;
    color: #8e8e8e;
    background-color: #fafafa;
    border-radius: 4px;
    border: 1px solid var(--border-grey);
    font-size: 11px;
    font-weight: 0;
}

.button-iniciar-sesion{
    background-color: #b2dffc;
    width: 82%;
    border: none;
    display: flex;
    margin: auto;
    padding: 7px;
    border-radius: 4px;
    margin: 10px auto;
}

.button-iniciar-sesion span{
    text-align:end;
    margin: auto;
    font-weight: 600;
    color: white;
}

.o{
    display: grid;
    width: 82%;
    grid-template-columns: 1fr 20px 1fr;
    justify-content: center;
    margin: auto;
    justify-items: center;
    color: #8e8e8e;
}
.sesion-facebook{
    margin: 15px;
    color: #385185;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
    font-weight: 600;
}
.sesion-facebook img{
    width: 20px;
    margin: 3px;
}

.olvidaste-contraseña{
    display: flex;
    justify-content: center;
    color: #385185;
    font-size: 12px;
    margin: 20px;
}

.no-tienes-cuenta{
    margin-top: 10px;
    border: 1px solid var(--border-grey);
    justify-self: center;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 6%;
    text-align: center;
}

.no-tienes-cuenta span{
    font-size: 13px;
}

.no-tienes-cuenta span a{
    color: #0095f7;
    font-weight: 600;
}

.descarga-app span{
    display: flex;
    justify-content: center;
    margin: 20px;
    font-size: 12px;
}

.descarga-app div {
    display: flex;
    justify-content: center;
}
.descarga-app div img{
    width: 130px;
    margin: 5px;
}

.footer{
    margin-top:60px;
    font-size: 12px;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    color: #8e8e8e;
}
.footer li {
    margin: 5px;
}

.idioma-footer{
    margin:20px;
    font-size: 12px;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.idioma-footer li{
    margin: 10px;
    color: #8e8e8e;
}


@media (max-width: 450px) {
    
    body{
        padding: 0;
        background-color: white;
    }
    .registro{
        border: none;
    }
    .registro-inputs{
        width: 50%;
        font-size: 12px;
    }
    .button-iniciar-sesion{
        width: 54%;
    }
    .no-tienes-cuenta{
        border: none;
    }
    .descarga-app div img{
        width: 110px;
        margin: 5px;
    }
}

@media (min-width:870px){
    body{
        display: grid;
        grid-template-areas: 
        "iphone register"
        "footer footer";
        padding: 5% 15%;
        grid-template-columns: 1fr 1fr;

    }

    .iphones-desktop-view{
        display: flex;
        grid-area: iphone;
        position: relative;
    }
    article{
        max-width: 400px;
    }
    .registro{
        grid-area: register;
        width: 100%;
    }

    .iphone-atras{
        position: absolute;
        right: 140px;
        height: 540px;
        bottom: 10px;
    }
    .iphone-frente{
        height: 540px;
        z-index: 40;
        position: absolute;
        right: 50px;
        bottom: 0;
        margin: auto;
    }
    
    footer{
        justify-self: center;
        grid-area: footer;
        width: 100%;
        max-width: 1000px;
    }

}